[submodule "imdb-cli"]
	path = imdb-cli
	url = https://github.com/bgr/imdb-cli
[submodule "gsrchDwn"]
	path = gsrchDwn
	url = https://github.com/kenorb/gsrchDwn
[submodule "dtruss-lamp"]
	path = dtruss-lamp
	url = https://github.com/kenorb/dtruss-lamp.git
